<p-fieldset>

    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
            <p-avatar image="assets/img/sebastianechazu.png" shape="circle"></p-avatar>
        </div>
        <span class="font-bold">Sebastián Echazú </span>
    </ng-template>

    <p-accordion [activeIndex]="0">

        <p-accordionTab header="About">
            <p> I’m interested in the latest technological trends, especially in Angular and web development. I actively
                participate in online communities and attend related events.</p>
            <p-divider />
            <p> I’m currently learning advanced Angular techniques and exploring new web development tools to enhance my
                skill set.
            </p>
            <p-divider />
            <p> I’m looking to collaborate on innovative web development projects that require robust and efficient
                solutions. I have a strong background in Angular, TypeScript, and JavaScript, and I’m passionate about
                delivering high-quality software.</p>
        </p-accordionTab>

        <p-accordionTab header="Skills">
            <H5>Languages</H5>
            <ul>
                <li>TypeScript</li>
                <li>JavaScript</li>
                <li>Git</li>
                <li>Bootstrap</li>
                <li>C#</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <p-divider />
            <H5>Frameworks</H5>
            <ul>
                <li>Angular</li>
                <li>PrimeNG</li>
                <li>React</li>
            </ul>
        </p-accordionTab>

        <p-accordionTab header="Contact">
            <p>Feel free to reach out to me if you have any questions or would like to collaborate on a project.</p>
            <p-divider />
            <ul>
                <li><a href="mailto:sebastianechazu@gmail.com"><i class="pi pi-at"></i>
                        sebastianechazu&commat;gmail.com</a></li>

                <li><a href="https://www.linkedin.com/in/sebastian-echazu/"><i class="pi pi-linkedin"></i>Sebastián
                        Echazú</a></li>

                <li><a href="tel:+54 2615564713"><i class="pi pi-phone"></i>+542615564713</a></li>

            </ul>

        </p-accordionTab>
    </p-accordion>

</p-fieldset>