<section class="bg-base-100 rounded-xl shadow-md p-6 mt-10 relative overflow-hidden animate-fade-in">
    <!-- Contenido -->
    <div class="text-center space-y-4">
        <p class="m-0 text-neutral text-lg animate-slide-in-up" style="animation-delay: 100ms">
            Bienvenido a la
            <span class="font-semibold text-accent">Elementos App</span>
        </p>
        <p class="mt-2 text-sm text-neutral/80 animate-slide-in-up" style="animation-delay: 200ms">
            Esta aplicación te permite gestionar y visualizar una lista de elementos
            de manera sencilla y atractiva.
        </p>

        <!-- Botón -->
        <div class="mt-4 animate-slide-in-up" style="animation-delay: 300ms">
            <a [routerLink]="'/elementos'"
                class="inline-block bg-accent text-base-100 px-4 py-2 rounded-full text-sm font-medium shadow hover:bg-accent/90 hover:scale-105 transition-transform duration-200">
                Ver Elementos
            </a>
        </div>
    </div>
</section>