<div
  class="bg-white shadow-lg rounded-lg overflow-hidden border-2 border-blue-500 flex flex-col items-center justify-center w-60 min-h-80 relative"
  [@cardHover]="hoverState"
  (mouseenter)="setHover('hovered')"
  (mouseleave)="setHover('default')"
>
  <img [src]="character.image" [alt]="character.name" class="w-full h-full object-cover border-b-2 border-blue-500" />
  <div class="p-3 flex flex-col items-center justify-center text-center w-full">
    <h3 class="text-lg font-bold truncate mb-1" title="{{ character.name }}">{{ character.name }}</h3>
    <div class="flex items-center justify-center mt-1 mb-2">
      <span 
        class="inline-block w-4 h-4 rounded-full mr-2 border-2 border-gray-400" 
        [ngClass]="{
          'bg-green-500': character.status === 'Alive',
          'bg-red-500': character.status === 'Dead',
          'bg-gray-500': character.status === 'unknown'
        }">
      </span>
      <span>{{ character.status }} - {{ character.species }}</span>
    </div>
    <p class="text-gray-600 text-sm mb-0">
      <span class="font-semibold">Género:</span> {{ character.gender }}
    </p>
  </div>
  <!-- Icono de lupa que aparece al hacer hover -->
  @if (hoverState === 'hovered') {
    <div
      class="absolute inset-0 flex items-center justify-center pointer-events-none z-10"
    >
      <button
        (click)="openModal()"
        class="bg-blue-600 bg-opacity-80 text-white rounded-full p-3 shadow-lg pointer-events-auto transition-transform duration-200 hover:scale-110"
        style="outline: none; border: none; cursor: pointer;"
        aria-label="Ver detalles"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <circle cx="11" cy="11" r="8" stroke="white" stroke-width="2" fill="none"/>
          <line x1="21" y1="21" x2="16.65" y2="16.65" stroke="white" stroke-width="2"/>
        </svg>
      </button>
    </div>
  }
</div>

<!-- Modal de detalles del personaje -->
<app-modal-character 
  [character]="character" 
  [show]="showModal" 
  (close)="closeModal()">
</app-modal-character>
