<div class="mt-8">
  <!-- Cabecera (solo en desktop) -->
  <div class="hidden md:grid grid-cols-4 gap-4 bg-primary text-base-100 p-2 rounded-t animate-fade-in">
    <div></div>
    <div>Apellido</div>
    <div>Nombre</div>
    <div></div>
  </div>

  <div class="space-y-4 md:space-y-0 md:divide-y md:border md:rounded-b md:shadow">
    @for (androide of androides; track androide.id) {
    <div
      class="bg-base-100 p-4 rounded shadow md:grid md:grid-cols-4 md:gap-4 md:items-center hover:bg-base-100/50 hover:scale-[1.01] hover:shadow-lg transition-all duration-300 animate-fade-in">
      <!-- Avatar -->
      <div class="flex justify-center md:justify-start">
        <img [src]="androide.avatar" alt="img" class="w-24 shadow rounded animate-fade-in" />
      </div>

      <!-- Apellido -->
      <div class="mt-2 md:mt-0 text-center md:text-left animate-slide-in-left">
        <span class="font-medium text-neutral">
          {{ androide.apellido }}
        </span>
      </div>

      <!-- Nombre -->
      <div class="mt-2 md:mt-0 text-center md:text-left animate-slide-in-right">
        <span class="text-neutral">
          {{ androide.nombre }}
        </span>
      </div>

      <!-- Botón -->
      <div class="mt-4 md:mt-0 flex justify-center md:justify-end animate-fade-in">
        <button (click)="verAndroide(androide.id)"
          class="px-3 py-1 bg-accent text-base-100 rounded hover:bg-accent/90 hover:scale-105 transition-transform duration-200">
          Ver Más
        </button>
      </div>
    </div>
    }
  </div>
</div>