<p-table [value]="androides" [paginator]="true" [rows]="5">

  <ng-template pTemplate="header" let-androides>
    <tr>
      <th></th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th></th>
      
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-androides>
    <tr>
      <td> <img [src]="androides.avatar" width="100" class="shadow-4" alt="img"> </td>
      <td>{{androides.apellido}}</td>
      <td>{{androides.nombre}}</td>
      <td>
        <p-button (click)="verAndroide(androides.id.toString())" type="button"
          class="btn btn-outline-primary btn-block">Ver Mas</p-button>
      </td>
    </tr>
  </ng-template>

</p-table>