<div class="overflow-x-auto mt-8">
  <table class="min-w-full bg-white shadow rounded">
    <thead>
      <tr class="bg-blue-600 text-white">
        <th class="px-4 py-2"></th>
        <th class="px-4 py-2">Apellido</th>
        <th class="px-4 py-2">Nombre</th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      @for (androide of androides; track androide.id) {
      <tr class="hover:bg-gray-100">
        <td class="px-4 py-2 text-center">
          <img [src]="androide.avatar" alt="img" class="w-24 shadow rounded">
        </td>
        <td class="px-4 py-2">{{ androide.apellido }}</td>
        <td class="px-4 py-2">{{ androide.nombre }}</td>
        <td class="px-4 py-2">
          <button (click)="verAndroide(androide.id)" class="px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700">
            Ver Más
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>