<div class="relative inline-block">
  <!-- Ícono trigger -->
  <div 
    class="tooltip-trigger w-10 h-10 bg-blue-500 text-white rounded-full flex items-center justify-center cursor-help text-sm font-bold hover:bg-blue-600 transition-colors"
    [class]="triggerClass"
    [class.active]="isVisible()"
    (click)="toggleTooltip($event)">
    {{ triggerText }}
  </div>
  
  <!-- Tooltip flotante -->
  <div 
    class="tooltip-content absolute top-full left-1/2 mt-2 px-4 py-3 bg-gray-800 text-white text-sm rounded-lg shadow-lg z-[9999] w-[250px] sm:w-[16rem]"
    [class]="tooltipClass"
    style="transform: translateX(-50%)"
    [@tooltipAnim]="isVisible() ? 'visible' : 'hidden'">
    <ng-content></ng-content>
    <!-- Flecha del tooltip -->
    <div class="absolute bottom-full left-1/2 transform -translate-x-1/2 border-4 border-transparent border-b-gray-800"></div>
  </div>
</div>
